.main_header{
	background-color: black;
	width: 100%;
	height: 50px;
}
.main_pannel{
	overflow: hidden;
	height: 100%;
}
.main_left_pannel{
	height: 100%;
	width: 50%;
	overflow: hidden;
	float: left;
	overflow: hidden;
}
.main_right_content{
	height: 100%;
	width: 50%;
	overflow: hidden;
	float: left;
	border-left: 3px solid #9A9A9A;
	overflow-y: scroll;
}
.editor{
	border: 1px dotted gray;
}

